/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
    background-color: black; /* Черный цвет фона для header */
    padding: 10px 0; /* Внутренние отступы сверху и снизу */
    width: 100%; /* Занимает всю ширину */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Привязка к верхней части страницы */
    z-index: 1000; /* Устанавливаем z-index для перекрытия других элементов */
}


nav {
    width: 100%; /* Занимает всю ширину */
}

.nav-list {
    display: flex; /* Устанавливает flex-контейнер */
    justify-content: space-between; /* Распределяет элементы по всей ширине с равными промежутками */
    list-style-type: none; /* Убирает стандартные маркеры списка */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает отступы */
}

.nav-list li {
    flex: 1; /* Элементы равной ширины */
    text-align: center;/* Выравнивание текста по центру */
}

.nav-list a {
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убирает подчеркивание */
    /* display: block; Делаем ссылки блочными */
    padding: 10px 0; /* Внутренние отступы */
}

.nav-list a:hover {
    background-color: #dbdbdbc6; /* Цвет фона при наведении */
    color: black;
    padding: 10px;
    font-size: 115%;
    transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.3s; /* Переход на 0.3 секунды для всех свойств */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: row; /* Размещаем элементы в колонку */
        justify-content: space-between;
    }

    .nav-list li {
        width: 100%; /*Занимает всю ширину */
        margin: 5px 0; /* Отступы между элементами */
    }
}